* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.link-hover:hover{
  text-decoration: none;
  color: rgb(158, 109, 45);
}

.link-block-hover:hover{
  box-shadow: 1px 1px 1px red;
}